
  .inputSearch:hover,
  .inputSearch:focus {
    box-shadow: 0px 0px 25px rgba(220, 220, 220, 1)
  }
  .inputSearch2:hover,
  .inputSearch2:focus {
    box-shadow: 0px 0px 25px rgba(220, 220, 220, 1)
  }

  .error {
    color: red;
    font-weight: bold;
    }

.mdl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background: white;
    box-shadow: 4;
    border-radius: 10px;
    padding: 4,
}

.tableStyle {
    min-width: 170px;
    border: none;
}

/*          cards config                        */

.gridDefCard {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) ;
}
.gridCard {
  background: #0088FE;
  left: 12%;
  top: 29%;
}

.gridCard2 {
  background: #ff7f00;
  left: 42%;
  top: 29%;
}

.gridCard3 {
  background: #e100ff;
  left: 12%;
  top: 70%;
}

.gridCard4 {
  background: #00ff61;
  left: 72.5%;
  top: 70%;
}

.gridCardIcon {
  color: #fff;
  width: 32px;
  height: 32px;
  padding: 13px 0px 0px 13px;
}

.gridCardClip {
  width: 100%;
  height: 100%;
  display: flex;
}

.gridCardH {
  left: 12%;
  top: 38%;
}

.gridCardH2 {
  left: 48%;
  top: 25%;
}

.gridCardH3 {
  left: 18%;
  top: 66%;
}

.gridCardH4 {
  left: 79%;
  top: 66%;
}

.gridCardH2-2 {
  left: 42%;
  top: 38%;
}

.gridCardH3-2 {
  left: 12%;
  top: 82%;
}

.gridCardH3-3 {
  left: 25%;
  top: 82%;
}

.gridCardP {
  left: 12%;
  top: 48%;
  font-size: 16px;
}

.gridCardP2 {
  left: 42%;
  top: 48%;
  font-size: 16px;
}

.gridCardP3 {
  left: 12%;
  top: 82%;
  font-size: 16px;
}

.gridCardP3-2 {
  left: 25%;
  top: 82%;
  font-size: 16px;
}

.gridCardP4 {
  left: 72.5%;
  top: 82%;
  font-size: 16px;
}

.defaultStyleCard {
  position: absolute;
  font-weight: bold;
}


@media screen and (max-width: 770px) {
.gridCard2 {
  left: 12%;
  top: 75%;
}

.gridCard3 {
  left: 12%;
  top: 116%;
}

.gridCard4 {
  left: 12%;
  top: 157%;
}

  .gridCardH2 {
  left: 25%;
  top: 69%;
}

.gridCardH3 {
  left: 25%;
  top: 110%;
}

.gridCardH4 {
  left: 25%;
  top: 150%;
}



.gridCardH2-2 {
  left: 12%;
  top: 85%;
}

.gridCardH3-2 {
  left: 12%;
  top: 125%;
}

.gridCardH3-3 {
  left: 35%;
  top: 125%;
}

.gridCardP2 {
  left: 12%;
  top: 94%;
}

.gridCardP3 {
  left: 12%;
  top: 135%;
  font-size: 16px;
}

.gridCardP3-2 {
  left: 35%;
  top: 135%;
}

.gridCardP4 {
  left: 12%;
  top: 170%;
}
}


