.drawerConfig {
    width: 20%;
    max-width: 280px;
    height: 100vh;
    margin-right: 80px;
    display: block;
}

.testar {
    background-image: url(../../assets/yplay_branco.png);
}

.linkEffect {
    display: none;
    
}

.click:hover .icone {
    position: relative;
    z-index: 1;
    margin: auto;
}

.click:hover .linkEffect{
    display: block;
    position: absolute;
    margin-left: -30px;
    font-weight: bold;
    padding: 6px 25px 10px 80px;
    background-color: rgb(255, 208, 0);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 80px;
    max-width: 200px;
}


.MuiLink-underlineNone{
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    transition: 0.25s;
    transform: scale(1.2);
    text-shadow: 1px 1px 2px black;

}


@media screen and (max-width: 770px) {
    .drawerConfig{
        display: none;
    }
    }

