table {
    width: 100%;
}

thead {
    width: 500px;
    min-width: 40px;
    min-height: 40px;
    max-height: 80px;
}

tr {
    min-width: 50px;
    margin: auto;
}

th {
    min-width: 40px;
    margin: auto;
}